@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
    .list-container {
        display: flex;
        gap: 40px;
        justify-content: center;
        margin-bottom: 24px;
    }
    .mail-studio,
    .phone-number {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    .hero {
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
        
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-2x.jpg);
    
            }
        }
    .main-title {
        margin-bottom: 48px;
    }
    .qual {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .quality-icon {
        display: block;
        display: flex;
    }
    .quality-list {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }
    .quality {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        
    } 
    .text-list {
        font-weight: 400;
        
    }

    .work {
        display: block;
    }
    .our-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .list-item-team {
        width: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }
    .customers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .list-item-customers {
        margin-bottom: 0;
    }
    .footer {    
        padding-left: 0;
    }
    .list-footer {
        gap: 120px;
        margin-bottom: 0;
    }
    .sub-field {
        margin-left: 80px;
    }
}